#loading
{
 text-align:center; 

 height: 150px;
}
body {
    margin: 0;
    border:0;
    background-color: #ffffff;
    background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
    animation: come-in 1s ease-in-out;
}

#full-page{
    transition: 0.5s ease;
    border: 10px;
}

.navbar{
    background-image: url("../img/hero.png");
}


@keyframes come-in {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/* NavBar */

.nav-btn{
    margin: 0px 2px;
}


.navbar-brand{
    color: #f1faee;
}

#Manipal{
    color: white;
    font-weight: bold;
}
#uni{
    color: red;
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    .search-bar{
        display: none;
    }
    .student-img{
        display: none;
    }
  }

  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 0px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 8px;}
  }

  .dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
    
  }
  
  /* Optional: Style the caret down icon */
  .fa-caret-down {
    float: right;
    padding-right: 8px;
  }
  .dropdown-btn:hover {
    color: #f1f1f1;
  }
  .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}


  /*Home Page*/
.hero{
    background-image: url("../img/hero.png");
    height: 30vh;
    text-align: center;
}

.hero h1{
   color: white;
    font-family: 'Merriweather', serif;
    line-height: 30vh;
    font-size: 3.5em;
    text-shadow: 10px 10px 15px white;
    text-transform: uppercase;
}


.my-card
{
    position:absolute;
    left:43%;
    top:-20px;
    border-radius:50%;
}

.jumbotron{
    margin-top: 15vh;
    padding: 3%;
}







/* Recently visited */

.recent{
  box-sizing: border-box;
  height: 100px;
  padding:25px;
  color: white;
  background-color: #111;
}

.row{
  align-items: center;
  
}
.panel-pad-10 {
  padding: 10px;
  margin:20px 0px;
 
}

.panel-body{
  padding: 10px;
  background-color: #212529;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  margin: auto;
  border-radius: 15px;
  animation: move-in 1s ease-in-out;
}



.student-card{
  position: relative;
  color: black;
  background-color: white;
  height: 95%;
  width: 80%;
  margin: auto;
  padding: 10px;
  display: flex;
  border-radius: 15px;

}

.student-card ul{
    list-style: none;

}

@keyframes move-in {
    0%{
        transform: translateX(-200%);
    }
    100%{
        transform: translateX(0%);
    }

}

.student-pic{
    margin-left: auto;
}


.student-img{
  height: 160px;
  width: 160px;
  right: 2px;
}
.more-info{
  margin-left: 20px;
}


ul{
  list-style: circle;
}

.filter-row{
  margin-top: 40px;
  display: flex;
}

.filter-row h3{
  margin-right:30px;
}

.filter-dropdown{
  background-color: rgb(212, 212, 212);
  margin: 0px 20px;

}

/* Student info page */

.student-info{
  margin-top: 20px;
}

.black{
  color: black;
  text-decoration: none;
}



.student-info-list{
  list-style: none;
}


.student-info-img{
  position: absolute;
  height: 70%;
  width: 13%;
  right:10px
}



/* Lect page */

.add-lect-btn{
  position: absolute;
  margin: 10px 10px 10px 10px;
  right: 20px;
}

.lect-container{
  margin-top: 30px;
}


/* Add lect page */

.add-container{
  margin-top: 100px;
}

.add-heading{
  margin: 20px ;
}









/* login page */
.card-login {
    width: 100%;
    height: 59%;
    position: absolute;
	  top:0;
	  bottom: 0;
	  left: 0;
	  right: 0;
    margin: auto;
    overflow: auto;
    border-radius: 20px;
}

.card-body{
    text-align: center;
}

.card-img-top{
    padding: 3rem 2rem;
}

.login-form{
    padding: 0.8rem;
    margin: 1rem 0rem;
    border-radius: 50px;
}

.login-btn{
    border-radius: 50px;
    width: 75%;
    border-color: grey;
    background-color: #2C6874;
    color: white;
}

.login-btn:hover{
    background-color: #f1faee;
    color: green;
}


/* Student Details */



.internship-deets{
  margin-bottom: 25px;
  text-align: center;
  background-color: #fff;
  padding:3% 5%;
  width:82%;
}

.full-internship-deets{
  border: 2px solid black;
  margin:10px;
  
}

.company-name{
  font-size: medium;
  font-weight: bold;
}

.working-role{
  font-size: small;
}

.working-date{
  font-size: 12px;
  font-weight: 600;
}

.basic-internship-deets{
  padding:3% 1%;
  text-align: left;
  
}

.internship-info{
  text-align: left;
  font-size: smaller;
  padding: 0vh 1vh;
}


.project-deets{
  margin-bottom: 25px;
  text-align: center;
  background-color: #fff;
  padding:3% 5%;
  width:82%;
}

.project-url a{
  text-decoration: none;
}

.certificates{
  text-align: center;
  background-color: #fff;
  padding:3% 5%;
  width:82%;

}

/*Table.php*/

.dd{
  
  margin-left: auto;
}

